/*
 * Basic Styles & Resets
 */
* {
    margin: 0;
    padding: 0;
}

/*
 * Main Styles
 */
.clear {
    clear: both;
}

body {
    color: #66645F;
    background-color: #fff;
    font-family: Verdana, sans-serif;
    font-size: 95%;
}

#user {
    width: 250px;
    text-align: center;
    float: right;
    font-size: 85%;
    background: white;
    padding: 5px;
    border-bottom-left-radius: 15px;
}

header {
    width: 100%;
    height: 50px;
    padding-top: 10px;
    background: #CE504E;
    border-bottom: 1px solid #872825;
}

header h1 {
    color: white;
    display: inline-block;
    margin-left: 30px;
}

main {
    min-height: 200px;
    height: auto;
    width: 100%;
}

main p {
    text-align: center;
    padding-top: 40px;
}

.option-box {
    width: 300px;
    margin: 0 auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.option-box .close-button {
    width: 16px;
    height: 20px;
    float: right;
    padding-left: 5px;
    background: #CE504E;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.option-box .close-button:hover {
    background: none;
    color: #CE504E;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.option-box p {
    margin-bottom: 20px;
}

.option-box .submit, .option-box .submit-2 {
    height: 25px;
    width: 70px;
    border: none;
    border-radius: 0;
}

/*
 * Admin Panel Styles
 */
#admin-nav {
    border-bottom: 1px solid #66645F;
    background: #EDEBEB;
}

#admin-nav ul {
    list-style: none;
    display: block;
    margin: 0 auto;
    height: 50px;
    width: 252px;
}

#admin-nav li {
    float: left;
    height: 35px;
    padding: 15px 10px 0 10px;
    border-right: 1px solid #66645F;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
}

#admin-nav li:first-child {
    border-left: 1px solid #66645F;
}

#admin-nav li a {
    text-decoration: none;
    color: #66645F;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
}

#admin-nav li:hover {
    background: #66645F;
    color: white;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
}

#admin-nav li:hover a {
    color: white;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
}

#pages {
    text-align: center;
    margin-top: 10px;
}

#pages a {
    color: #66645F;
    margin: 0 5px;
}

#pages .active {
    text-decoration: none;
}

/*
 * Table & Form Styles
 */
table {
    width: 60%;
    margin: 0 auto;
    padding: 30px 0;
    border: none;
    border-spacing: 0;
}

table th {
    text-align: center;
}

table td {
    text-align: center;
}

table .actions a {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

table .actions a:last-child {
    margin-right: 0;
}

.actionEdit {
    background: url("img/edit.png") no-repeat;
}

.actionDelete {
    background: url("img/delete.png") no-repeat;
}

form
{
    position: relative;
    background: white;
    overflow: hidden;
    border: 1px solid #C9C9C9;
    min-height: 180px;
    width: 428px;
    height: auto;
    margin: 30px auto;
    z-index: 0;
    padding: 0 0 10px 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
}

form h3 {
    font-family: "Myriad Pro", Arial ,Helvetica, sans-serif;
    background-color: #CE504E;
    color: white;
    z-index: 100;
    border-bottom: 1px solid #872825;
    font-size: 26px;
    text-align: center;
    margin-bottom: 15px;
    padding: 5px 0;
}

form #holder {
    overflow: hidden;
}

form #page_1 {
    position: relative;
    top: 0;
    z-index: 0;
    transition: top 0.8s linear, opacity 0.5s ease-in-out;
    -moz-transition: top 0.8s linear, opacity 0.5s ease-in-out;
    -webkit-transition: top 0.8s linear, opacity 0.5s ease-in-out;
}

form #page_2 {
    display: none;
    position: relative;
    top: 250px;
    z-index: 0;
    transition: top 0.8s linear, opacity 0.5s ease-in-out;
    -moz-transition: top 0.8s linear, opacity 0.5s ease-in-out;
    -webkit-transition: top 0.8s linear, opacity 0.5s ease-in-out;
}
form #page_3 {
    display: none;
    position: relative;
    top: 250px;
    z-index: 0;
    transition: top 0.8s linear, opacity 0.5s ease-in-out;
    -moz-transition: top 0.8s linear, opacity 0.5s ease-in-out;
    -webkit-transition: top 0.8s linear, opacity 0.5s ease-in-out;
}

form fieldset {
    border: none;
}

form #inputs {
    width: 90%;
    margin: 20px auto;
}

form #inputs input:not([type="color"]), form #inputs textarea {
    background: #CE504E;
    color: white;
    font-size: 1.1em;
    font-weight: bold;
    border-radius: 0;
    padding: 0 0 0 30px;
    border: 1px solid #872825;
    width: 90%;
    height: 30px;
    margin-bottom: 15px;
}

form #inputs input[type="range"] {
    padding: 0;
}

form #inputs input[type="color"] {
    max-width: 20px;
    padding: 0 2px;
    border: 1px solid #872825;
    background: #CE504E;
    cursor: pointer;
}

form #inputs textarea {
    min-height: 110px;
    max-height: 110px;
    overflow-y: scroll;
    resize: none;
    padding: 5px;
    min-width: 368px;
    max-width: 368px;
}

form #inputs select {
    background: #CE504E;
    color: white;
    font-size: 1.1em;
    font-weight: bold;
    border-radius: 0;
    border: 1px solid #872825;
    width: auto;
    height: 30px;
    margin: 0 0 10px 5px;
    padding-left: 5px;
}

::-webkit-input-placeholder {
    color: white;
}

:-moz-placeholder {
    color: white;
}

::-moz-placeholder {
    color: white;
}

:-ms-input-placeholder {
    color: white;
}

form #links {
    width: 90%;
    margin: 20px auto;
}

#labelcolor-text, #labelcolor-background {
    height: 10px;
    width: 10px;
    border: 2px solid #872825;
    background: black;
    display: inline-block;
    cursor: pointer;
}

.submit, .submit-2 {
    background: #CE504E;
    color: white;
    border: 1px solid #872825;
    border-radius: 2px;
    font-size: 1.1em;
    font-weight: bold;
    float: right;
    height: 35px;
    padding: 0;
    width: 100px;
    cursor: pointer;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.submit:hover, .submit-2:hover {
    background: #872825;
    color: white;
    text-shadow: none;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.submit-2 {
    float: left;
}

form #links #other {
    float: left;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    color: #666;
    line-height: 35px;
}

.pick-field {
    height: auto;
}

.pick-field .title {
    width: 100%;
    height: auto;
    text-align: center;
}

.pick-field .column-titles {
    width: 100%;
    height: auto;
    margin: 5px 0;
}

.pick-field .column-titles .left {
    float: left;
    margin-left: 10px;
}

.pick-field .column-titles .right {
    float: right;
    margin-right: 10px;
}

.column-left {
    width: 49%;
    float: left;
    margin: 15px auto;
    min-height: 125px;
    max-height: 125px;
    overflow: scroll;
}

.column-right {
    width: 50%;
    float: left;
    margin: 15px auto;
    min-height: 125px;
    max-height: 125px;
    overflow: scroll;
}

.draggable-node {
    width: auto;
    margin: 5px auto;
    height: 30px;
    padding: 5px 5px 0 5px;
    text-align: center;
    display: inline-block;
    background: #CE504E;
    color: white;
    border: 1px solid #872825;
}

/*
 * Footer Styles
 */
footer {
    height: 50px;
    border-top: 1px solid #66645F;
    background: #EDEBEB;
}

footer p {
    padding-top: 15px;
    text-align: center;
}